.vtex-cpProductField{display:none;}
.vtex-cpProductTextWrap{position:relative;display:block;}
.vtex-cpOverlay,.vtex-cpImgOverlay{display:none;position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #F1F1F1;opacity:0.7;filter:Alpha(opacity=70);background:url("/arquivos/ajax-loader.gif") no-repeat center center #FFF;}
.vtex-cpImgOverlay{z-index:10;top:35%;left:35%;width:30%;height:30%;}
.vtex-cpShow{display:inline;}
.vtex-cpHide{display:none;}
/* Sku List */
.vtex-cpInner{border:1px solid #FFF;display:block;}
.vtex-cpSkuIds{cursor:pointer;display:block;float:left;margin-left:6px;background:transparent !important;background-position:center center;}
.vtex-cpSkuList .vtex-cpFirst{margin-left:0;}
/* Sugestions */
.vtex-cpProductImage{position:relative;display:block;}
.vtex-cpOriginalImage,.vtex-cpSkuImage{position:absolute;top:0;left:0;}
/* Thumbs */
.vtex-cpViewMore{float:left;left:6px;position:relative;background:url("/arquivos/plus-bold-white.png") center center #A60D01;}
.vtex-cpViewMore.vtex-cpShow{display:block;}
.vtex-cpViewMore a{display:block;width:100%;height:100%;text-indent:-9999em;}

/* Border */
.vtex-cpSkuIds,.vtex-cpViewMore{border:1px solid #E0E0E0;}
.vtex_cpActiveSku{border-color:#A60D01;}
/* Sizes */
.prateleira li .vtex-cpImgsThumb,.prateleira li .vtex-cpInner{width:30px;height:30px;}
.vtex-cpSkuIds,.vtex-cpViewMore{height:32px;width:32px;}
.vtex-cpProductImage{width:190px;height:190px;}
.vtex-cpProductImage img{width:190px;height:190px;}